html {
    scroll-behavior: smooth;
   }
body
{
    margin: 0px;
    background-image: url("bg.jpg");
}
#nav-bar
{
    height: 40px;
    background-color: #0abde3;
    margin-left:100px;
    margin-right:100px;
    box-shadow: 0 0 5px rgba(0,0,0,.4); 
}
#main
{
    height:2500px;
    margin-left:100px;
    margin-right:100px;
    margin-top: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    background-color: #fff;
}
#about
{
height: 400px;
}
#top-head
{
    height: 600px;
    background-color: #0abde3;
}
.nav-a
{
    margin-top: 5px;
    color:#fff;
}
 a:hover
{
    text-decoration: none;
    color:#fff;
}
#pro-pic{
    margin-top: 40px;
    height: 250px;
    border-radius:125px; 
}
#title-focus{
    color: #fff;
}
#dev-name
{
    color: #3863a0;
}
.m-1{
    margin-top: 10px;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
.table{
    background-color:white;
    width:100%;
}
svg{
    height:100px;width:100px;
    margin: 40px;
}
.links{
    text-align: center;
    padding-top: 10px;
    height: 40px;
}
.links:hover{
    background-color:#3863a0;
}
.t-ash{
    color:#777;
    font-size: x-large;
}
#type{
    color: white;
    text-shadow: #000;
    font-family: fantasy;
    font-size: 50px;
}
#fade{
   display:none;
   font-family: fantasy;
   font-size: 30px;
}
#intro{
    margin-top: 20px;
    font-size: 20px;
}